<!DOCTYPE HTML>
<html>
	<head>
		<title>Investment Now</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<link rel="icon" href="/images/logo.png" />
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<nav class="left">
					<a href="#menu"><span>Menu</span></a>
				</nav>
				<a href="/home" class="logo">Investment Now</a>
				<nav class="right">
					<a href="/login" class="button alt">Login</a>
				</nav>
			</header>

		<!-- Menu -->
			<nav id="menu">
				<ul class="links">
					<li><a href="/home">Home</a></li>
					<li><a href="/login">Carteira</a></li>
				</ul>
				<ul class="actions vertical">
					<li><a href="/login" class="button fit">Login</a></li>
				</ul>
			</nav>

		<!-- Banner -->
			<section id="banner">
				<div class="content">
					<h1>Invista nos lugares certos</h1>
					<p>Abra sua conta agora e não perca mais tempo.<br />Nem dinheiro.</p>
					<ul class="actions">
						<li><a href="/cadastrar" class="button scrolly">Cadastrar-se</a></li>
					</ul>
				</div>
			</section>

		<!-- One -->
			<section id="one" class="wrapper">
				<div class="inner flex flex-3">
					<div class="flex-item left">
						<div>
							<h3>Evolução</h3>
							<p>Somos a inovação dentro do mercado financeiro, em constante evolução</p>
						</div>
						<div>
							<h3>Comece a investir</h3>
							<p>Invista em qualquer lugar e aumente sua renda</p>
						</div>
					</div>
					<div class="flex-item image fit round">
						<img src="images/pic01.jpg" alt="" />
					</div>
					<div class="flex-item right">
						<div>
							<h3>Nosso aplicativo</h3>
							<p>Baixe já! Os melhores investimentos na palma da mão</p>
						</div>
						<div>
							<h3>Criptomoedas</h3>
							<p>Compre criptomoedas<br />sem sair de casa!</p>
						</div>
					</div>
				</div>
			</section>

		<!-- Two -->
			<section id="two" class="wrapper style1 special">
				<div class="inner">
					<h2>Fale com Roberto</h2>
					<figure>
					    <blockquote>
					        "O propósito da Investment Now é transformar o mercado financeiro para melhorar a vida das pessoas <br /> e isso só é possível com um serviço de qualidade, avaliado por quem mais importa: nossos clientes."
					    </blockquote>
					    <footer>
					        <cite class="author">Roberto Santos</cite>
					        <cite class="company">CEO, Investment Now</cite>
					    </footer>
					</figure>
				</div>
			</section>

		<!-- Three -->
			<section id="three" class="wrapper">
				<div class="inner flex flex-3">
					<div class="flex-item box">
						<div class="image fit">
							<img src="images/pic02.jpg" alt="" />
						</div>
						<div class="content">
							<h3>Segurança</h3>
							<p>Possuimos um sistema 100% seguro em relação aos dados e investimentos.</p>
						</div>
					</div>
					<div class="flex-item box">
						<div class="image fit">
							<img src="images/pic03.jpg" alt="" />
						</div>
						<div class="content">
							<h3>Rentabilidade</h3>
							<p> Comece a investir e aumente seus lucros, tenha rentabilidade.</p>
						</div>
					</div>
					<div class="flex-item box">
						<div class="image fit">
							<img src="images/pic04.jpg" alt="" />
						</div>
						<div class="content">
							<h3>Criptomoedas</h3>
							<p> Com criptomoedas escolhidas a dedo, aumente seu conhecimento dentro do mercado financeiro.</p>
						</div>
					</div>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<h2>Contato</h2>
					<ul class="actions">
						<li><span class="icon fa-phone"></span> <a href="#">(11) 99743-5524</a></li>
						<li><span class="icon fa-envelope"></span> <a href="#">faleconosco@investmentnow.com</a></li>
						<li><span class="icon fa-map-marker"></span> Alameda América 156, Alphaville, SP - Brasil</li>
					</ul>
				</div>
				<div class="copyright">
					&copy; 2020 Course Company. Todos os direitos reservados.
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>