body {
	width:100%;
	height:100%;
	
}
.logo2{
	width:150px;
	height:40px;
	padding:5px;
}
.menu-principal{
	width:100%;
	background-color:#252323;
	height: 50px;
}
.header-2 {
	background-color:#ffffff;
	width: 100%;
	border-bottom: 3px solid#efefef ;
}
.card {
	margin-left: 10px;
	margin-right: 10px;
}

.panel-body{
	margin-left: 10px;
	margin-right: 10px;
}
.botao{
	width: 500px;
}
.css{
	margin-top: 15px ;
}